{% extends './layout.html' %}

{% block body %}
<header>
    <nav>
       <ul>
             <li class="current-page"><a href="agregar/../agregar.html">Agregar auto</a></li>
             <br>
             <li><a href="modificar/../modificar.html">Modificar precio auto</a></li>
             <br>
             <li><a href="eliminar/../eliminar/">Eliminar auto</a></li>
             <br>
             <li><a href="cargar_disponibilidad/">Cargar Disponibilidad</a></li>
             <br>
             <li><a href="mostrar_listado/">Mostrar automoviles</a></li>
       </ul>
    </nav>
 </header>
    <form method="post">
        <!-- Los form. estan referenciando a las variables de la clase forms -->
        <!-- La clase css se indica dentro de los ()-->
        <!-- El bucle for es para mostrar los mensajes de error-->
        {{ form.marca.label }} {{ form.marca(class__="formulario") }}

        {% for error in form.marca.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}

        <br>
        {{ form.modelo.label }} {{ form.modelo(class__="formulario") }}
        {% for error in form.modelo.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
        <br>
        {{ form.precio.label }} {{ form.precio(class__="formulario") }}
        {% for error in form.precio.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
        <br>
        {{ form.cantidad.label }} {{ form.cantidad(class__="formulario") }}
        {% for error in form.cantidad.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
        <br>

        <!-- Genera un token de la secret key definida en la app -->
        {{ form.hidden_tag() }}
        
        {{ form.submit }}
    </form>

    

{% endblock %}