{% extends './layout.html' %}

{% block body %}
    <form method="post">
        <h4>-Aumentar disponibilidad</h4>
        {{ form.marca.label }} {{ form.marca(class__="formulario") }}
        {% for error in form.marca.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
        <br>

        {{ form.modelo.label }} {{ form.modelo(class__="formulario") }}
        {% for error in form.modelo.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
        <br>
        
        
        {{ form.cantidad(type="hidden", value="1") }}
        {{ form.precio(type="hidden", value="1") }}

        {{ form.hidden_tag() }}
        {{ form.submit }}
    </form>

    

{% endblock %}