{% extends './layout.html' %}

{% block body %}
<header>
    <nav>
       <ul>
             <li><a href="agregar/">Agregar auto</a></li>
             <br>
             <li><a href="modificar/">Modificar precio auto</a></li>
             <br>
             <li><a href="eliminar/">Eliminar auto</a></li>
             <br>
             <li class="current-page"><a href="cargar_disponibilidad/">Cargar Disponibilidad</a></li>
             <br>
             <li><a href="mostrar_listado/">Mostrar automoviles</a></li>
       </ul>
    </nav>
 </header>
    <form method="post">
        <p>Al utilizar esta opcion aumentamos la disponibilidad del vehiculo en 1</p>
        {{ form.marca.label }} {{ form.marca(class__="formulario") }}
        {% for error in form.marca.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
        <br>

        {{ form.modelo.label }} {{ form.modelo(class__="formulario") }}
        {% for error in form.modelo.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
        <br>
        
        
        {{ form.cantidad(type="hidden", value="1") }}
        {{ form.precio(type="hidden", value="1") }}

        {{ form.hidden_tag() }}
        {{ form.submit }}
    </form>

    

{% endblock %}