{% extends './layout.html' %}

{% block body %}
<header>
  <nav>
     <ul>
           <li><a href="agregar/">Agregar auto</a></li>
           <br>
           <li><a href="modificar/">Modificar precio auto</a></li>
           <br>
           <li><a href="eliminar/">Eliminar auto</a></li>
           <br>
           <li><a href="cargar_disponibilidad/">Cargar Disponibilidad</a></li>
           <br>
           <li  class="current-page"><a href="mostrar_listado/">Mostrar automoviles</a></li>
     </ul>
  </nav>
</header>
    <h3>Listado de automoviles</h3>
    <table class="table-bordered">
        <tr>
          <th>Marca</th>
          <th>Modelo</th>
          <th>Precio</th>
        </tr>
        {% for autos in mostrar_automoviles %}
        <tr>
          <td>{{ autos[1] }}</td>
          <td>{{ autos[2] }}</td>
          <td>{{ autos[3] }}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}