{% extends './layout.html' %}

{% block body %}
<header>
   <nav>
      <ul>
            <li class="current-page"><a href="agregar/">Agregar auto</a></li>
            <br>
            <li><a href="modificar/">Modificar precio auto</a></li>
            <br>
            <li><a href="eliminar/">Eliminar auto</a></li>
            <br>
            <li><a href="cargar_disponibilidad/">Cargar Disponibilidad</a></li>
            <br>
            <li><a href="mostrar_listado/">Mostrar automoviles</a></li>
      </ul>
   </nav>
</header>

{% endblock %}