<title>Concesionaria Tuki</title>
<link rel="stylesheet" type="text/css" href="https://static.staticsave.com/estilostp/styles-css.css">



    <div class="main-container">
        <article id="auto">
            <h3>Carga de automovil</h3>
            <p>En esta seccion podes cargar toda la informacion de un auto, modificarlos, eliminarlos, visualisar la lista completa y mas cosas</p>
            <button id="sumbit-auto"><a id="bot-main" href="automoviles/agregar/">Cargar</a></button>

        </article>
        <article id="moto">
            <h3>Carga de motocicleta</h3>
            <p>En esta seccion podes cargar toda la informacion de una motocicleta, modificar algun dato, eliminar algun dato, visualisar la lista completa y mas.</p>
           <button id="sumbit-moto"><a id="bot-main" href="motocicletas/agregar/">Cargar</a></button> 
        </article>
        
    </div>
